  .Dashboard_Panel {
    background-color: white;
    height: 800.3px;
    width: 130.4px;
    border-radius: 20px;
  }
  
  .dashboard {
    font-size: 12px;
    font: canva sans;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    border: #ffffff;
    margin-left: 20px;
  }
  
  .setting {
    font-size: 12px;
    margin-top: 40px;
    margin-left: 20.2px;
    font-weight: bold;
    border: #ffffff;
  }