.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c0c0d8;
    font-family: 'Poppins', sans-serif;
    margin-top: 0px;
  }

  .logo {
    font-size: 50px;

    font-family: Brush Script MT, cursive;
    color: #000000;
    margin-top: 0%;
    margin-left: 20px;
  }

  .topbar-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -25px;
    margin-left: -130px;
  }

  .tagline {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.1rem;
    color: #000000;
    background: #ededff;
    padding: 6px 12px;
    border-radius: 10px;
    font-weight: bolder;
  }